<head>
    Home
</head>
<div>
    <br><br>
    <h1>Welcome User!</h1>
    <br><br><br><br><br>
    <h2>Where shall we go today?</h2>
    <br><br><br>

    <button id="viewPosts_btn" onclick="alert('Hmmm... What posts do we have on display?')" (click)="ondisplay()">View
        Posts</button>
    <br><br>
    <button id="addPost_btn" onclick="alert('Let us go create a post...')" (click)="onadd()">Add Post</button>
    <br><br>
    <button id="logout_btn" onclick="alert('Logging out...')" (click)="onlogout()">Sign Out</button>
    <br><br>
    <p></p>

</div>