div {
    background-image: url("https://pikwizard.com/photos/05c5d63d6037defd7f3048b4b73ea540-m.jpg");
    background-repeat: no-repeat;
    background-size: 200vh;
    min-height: 98vh;
    max-width: 400vh;
    text-align: center;
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 80px;
    text-align: center;
}

h2 {
    margin: 0;
    font-size: 40px;
    text-align: center;
}

button {
    background-color: #ffffff;
    border-radius: 12px;
    color: black;
    padding: 32px 16px;
    align-items: center;
    text-align: center;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 24px;
    width: 170px;
    height: 30px;
}